.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--bg-color);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-title {
    color: var(--primary-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    outline: none;
    transition: border 0.3s;
}

.login-input:focus {
    border-color: var(--accent-color);
}

.login-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: var(--font-family);
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: var(--accent-color);
}

/* Register Button */
.register-button {
    background-color: var(--highlight-color);
    color: var(--text-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: var(--font-family);
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: var(--accent-color);
    color: white;
}